.homeHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4em;
  width: inherit;
  justify-content: center;
  margin-bottom: 4rem;
}

.homeGreetingTitle {
  margin: 0;
  line-height: 1;
  font-size: 2rem;
  text-align: end;
}

.homeGreetingTitle h1:nth-child(2) {
  padding-left: 5rem;
}

@media (max-width: 700px) {
  .homeHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
  }

  .homeGreetingTitle {
    font-size: 1.5rem;
    text-align: start;
  }

  .homeGreetingTitle h1:nth-child(2) {
    padding-left: 0;
  }

  .homeSubtitle {
    display: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
    justify-content: center;
  }
}
