.container {
  padding: 1rem 4rem;
  width: 100%;
  position: fixed;

  color: var(--menuLabel);

  height: 4rem;

  /* Frosty Glass Effect */
  z-index: 1;
  box-shadow: 10rem 0 10rem 0 var(--menubg);
  border: 1px solid hsla(0, 0%, 59%, 0.16);
  backdrop-filter: blur(15px);

  transition: all 0.5s ease;
}

.click {
  height: 50vh;
}

.navContainer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: none;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  /* transition: all 1.5s ease; */
}

.itemsContainer a {
  padding: 5px 20px;
  border-radius: 10px;
}

.itemsContainer a:hover {
  background-color: var(--linkContainerBgHover);
}

.itemsContainer .selected {
  text-decoration: overline;
}

.menuButton {
  border: 1px solid var(--menuLabel);
  border-radius: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
}

/* Colourful gradient glow outside Let's chat CTA, similar to what is found in Clay Website */
/* .menuButton::after {
  background-image: linear-gradient(225deg, #32c5ff, #b620e0 51%, #f7b500);
  filter: blur(1em) saturate(1.18);
  opacity: 0.66;
  content: "";
  z-index: -2;
  width: calc(100% + -37em);
  height: calc(100% + 0em);
  top: 0.3299999999999983em;
  left: 31.5em;
  position: absolute;
} */

.MenuIconContainer {
  display: none;
}

@media (max-width: 700px) {
  .container {
    padding: 1rem 2rem;
  }
  .itemsContainer {
    display: none;
  }
  .MenuIconContainer {
    display: block;
  }
  .homeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
  }
  .navContainer {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    align-items: flex-end;
  }

  .click .itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
